.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}



.userlist {
  flex: 1;
  background-color: #331a12;
}

.chat {
  flex: 12;
  background-color: silver;
}

.inputbox {
  flex: 1;
  background-color: gray;
}
@media screen and (max-width: 768px) {
  /* .App {
    border: red 5px solid;
  } */
  .userlist {
    background-color: #22ee77a6;
  }
  
  .chat {
    background-color: silver;
  }
  
  .inputbox {
    background-color: rgb(4, 117, 38);
  }
}